
# Ignore generated docs
generated-docs/

app
*.o
*.so
*.so.*

examples/main
examples/todos
examples/http
examples/echo
examples/sleep
examples/file
examples/dir
examples/env
examples/command
examples/sqlite3