[package]
name = "roc_host"
version = "0.0.1"
authors = ["The Roc Contributors"]
license = "UPL-1.0"
edition = "2018"
description = "This provides the [host](https://github.com/roc-lang/roc/wiki/Roc-concepts-explained#host) implementation for the platform."

links = "app"

[lib]
name = "roc_host"
path = "src/lib.rs"

[dependencies]
roc_std = { path = "../roc_std" }
roc_app = { path = "../roc_app" }
roc_fn = { path = "../roc_fn" }
libc = "0.2"
hyper = { version = "0.14", features = [
    "http1",
    "http2",
    "client",
    "server",
    "runtime",
    "backports",
    "deprecated",
] }
tokio = { version = "1", features = ["rt", "rt-multi-thread", "macros"] }
reqwest = { version = "=0.11.11", default-features = false, features = [
    "blocking",
    "rustls-tls",
] }
futures = "0.3"
backtrace = "0.3.68"
bytes = "1.0"
sqlite = { version = "0.33.0", features = ["bundled"] }
memmap2 = "=0.9.4"
