on:
#  pull_request:
  workflow_dispatch:

# this cancels workflows currently in progress if you start a new one
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  JUMP_START: 1
  ROC: ./roc_nightly/roc
  EXAMPLES_DIR: ./examples/

jobs:
  build-and-test:
    runs-on: [ubuntu-22.04]
    steps:
      - uses: actions/checkout@v3

      - id: try_fetching_testing_release
        continue-on-error: true
        run: |
          curl -fOL https://github.com/roc-lang/roc/releases/download/nightly/roc_nightly-linux_x86_64-TESTING.tar.gz

      - name: There are no TESTING releases, checking regular releases instead
        if: steps.try_fetching_testing_release.outcome == 'failure'
        run: |
          curl -fOL https://github.com/roc-lang/roc/releases/download/nightly/roc_nightly-linux_x86_64-latest.tar.gz

      - name: rename nightly tar
        run: mv $(ls | grep "roc_nightly.*tar\.gz") roc_nightly.tar.gz

      - name: decompress the tar
        run: tar -xzf roc_nightly.tar.gz

      - run: rm roc_nightly.tar.gz

      - name: simplify nightly folder name
        run: mv roc_nightly* roc_nightly

      - run: ./roc_nightly/roc version

      - run: sudo apt install -y expect
      # expect for testing

      - name: print expect version
        run: expect -v

      # Run all tests
      - run: ./ci/all_tests.sh

      - name: Install dependencies for musl build
        run: |
          sudo apt-get install -y musl-tools
          rustup target add x86_64-unknown-linux-musl

      - name: Test building with musl target
        run: CARGO_BUILD_TARGET=x86_64-unknown-linux-musl ./roc_nightly/roc build.roc -- --roc ./roc_nightly/roc

      - name: Test using musl build
        run: |
          # no need to build platform anymore
          NO_BUILD=1 ./ci/all_tests.sh

# TODO clippy, rustfmt, roc fmt check
