on:
#  pull_request:
  workflow_dispatch:

# this cancels workflows currently in progress if you start a new one
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

# Do not add permissions here! Configure them at the job level!
permissions: {}

jobs:
  test-latest-release:
    strategy:
      matrix:
        # macos-13 uses x86_64, macos-14 uses apple silicon (arm64)
        os: [ubuntu-22.04, macos-13, macos-14]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies (Ubuntu)
        if: startsWith(matrix.os, 'ubuntu-')
        run: sudo apt install -y expect ncat ripgrep

      - name: Install dependencies (macOS)
        if: startsWith(matrix.os, 'macos-')
        run: |
          brew install expect
          brew install nmap
          brew install ripgrep

      - name: remove everything except some ci scripts
        run: |
          mkdir temp
          mv ./ci/test_latest_release.sh temp
          mv ./ci/get_latest_release_git_files.sh temp
          find . -mindepth 1 -maxdepth 1 ! -name 'temp' -exec rm -rf {} +

      - name: Get all git files of the latest basic-webserver release
        run: ./temp/get_latest_release_git_files.sh

      - name: Use ./ci/test_latest_release.sh of the latest git main
        run: mv -f ./temp/test_latest_release.sh ./ci/

      - name: Run all tests with latest roc release + latest basic-webserver release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: EXAMPLES_DIR=./examples/ ./ci/test_latest_release.sh
